<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205055719605-g0d3jemujl613mpr09ahau3vtqdfuspg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205055719605-g0d3jemujl613mpr09ahau3vtqdfuspg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>205055719605-95dclj2jr0h5fetjdli2m32h45uoergm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtc5tMm_BL8pUczx7so_iJ7F68LJ4Aibw</string>
	<key>GCM_SENDER_ID</key>
	<string>205055719605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ninja.raghavgupta.commResources</string>
	<key>PROJECT_ID</key>
	<string>commresources-d9b8a</string>
	<key>STORAGE_BUCKET</key>
	<string>commresources-d9b8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205055719605:ios:6877a4a54fcf46e14ea6fc</string>
</dict>
</plist>